<nav>
    <ul style="list-style: none;">
        <li class="home-btn" style="margin-bottom: 0;"><a href="/" style="font-weight: bold;">DSV Xpress</a></li>
        <li style="margin-bottom: 0;"><a href="/"><i class="fa fa-home fa-lg"></i> Home</a></li>
        <li style="margin-bottom: 0;"><a href="/pickup/pickups"><i class="fa fa-car fa-lg"></i> Pickups</a></li>
        <li style="margin-bottom: 0;"><a href="/auth/signup"><i class="fas fa-user-plus"></i>  Signup</a></li>
        <li style="margin-bottom: 0;"><a href="/auth/logout"><i class="fas fa-sign-in-alt" style="transform: rotate(180deg);"></i>  Sign Out</a></li>
    </ul>
</nav>
