<nav>
    <ul style="list-style: none;">
        <li class="home-btn" style="margin-bottom: 0;"><a href="/" style="font-weight: bold;">DSV Xpress</a></li>
        <li style="margin-bottom: 0;"><a href="/"><i class="fa fa-home fa-lg"></i> Home</a></li>
        <li style="margin-bottom: 0;"><a href="/auth/login"><i class="fas fa-sign-in-alt"></i> Login</a></li>
    </ul>
</nav>
